[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html title = loc("Edit [_1]",  page_title)
                            cancel_edit = page.uri
%]
<div id="content_edit">
    <form name="editform"
        method="post"
        action="/lite/page/[% workspace_name %]/[% page.uri %]"
        enctype="application/x-www-form-urlencoded">
    <input type="submit" value=[% loc("Save") %] /><br />
    <textarea name="page_body" id="edit_textarea" class="edit_text_area" rows="20" cols="75">[% page_body | html %]</textarea><br />
    <input type="hidden" name="subject" value="[% page_title %]" />
    <input type="hidden" name="revision" value="[% page.metadata.Revision %]" />
    <input type="hidden" name="revision_id" value="[% page.revision_id %]" />
    <input type="submit" value=[% loc("Save") %] />
  </form>
</div>
[% PROCESS lite/footer.html %]
