[%# @COPYRIGHT@ -%]
[%# vim: set et sts=2 sw=2: %]
[% WRAPPER authen/wrapper title=loc("Choose Password") %]
  <h3>[% loc('Log in to Socialtext') %]</h3>

  <p>
    <a href="/nlw/login.html?redirect_to=">[% loc('Log in with an existing account') %]</a>.
  </p>

  <p>
    [% loc('To proceed, please choose a password.') %]
  </p>

  <form name="login" method="post" action="/nlw/submit/choose_password">
    <input type="hidden" name="redirect_to" value="" />
    <input type="hidden" name="hash" value="[% hash %]" />

    <div class="label-value">
      <label for="username">[% loc('Username:') %]</label> [% email_address %]
    </div>

    <div class="label-value">
      <label for="password">[% loc('Choose Password:') %]</label>
      <input id="password" name="password" type="password" size="30" value="" />
    </div>

    <div class="label-value">
      <label for="password2">[% loc('Re-type Password:') %]</label>
      <input id="password2" name="password2" type="password" size="30" value="" />
    </div>

    <div class="form-element">
      <input class="button" type="submit" value="[% loc('Submit') %]" />
    </div>
  </form>
[% END %]
