[%# @COPYRIGHT@ -%]
[% WRAPPER authen/wrapper title = "Forgot Password" %]
<h3>Socialtext password help</h3>

[% IF username_label == loc("Email Address:") %]
<p>
[% loc('No problem, we can send you an email that will help. You will be able to change your password back to something you know.') %]
</p>

<p>
[% loc('Enter your email address below. Enter the email address you normally use for your Socialtext account. If you got here by clicking a link you received in an email message, look at that message, and use the email address it was sent to.') %]
</p>

<form method="post" action="/nlw/submit/forgot_password">
 <input type="hidden" name="redirect_to" value="[% redirect_to | html %]" />
 <div class="label-value">
  <label for="username">[% username_label %]</label>
  <input id="username" name="username" type="text" size="30" value="" />
 </div>

 <div class="form-element">
  <input class="button" type="submit" value="Submit" />
 </div>
</form>

<p>
[% SET from_address = 'noreply@socialtext.com' %]
[% loc('The email we will send you will come from <strong>[_1]</strong>. To ensure you receive it, please add <strong>[_1]</strong> to your address book or safe list.', from_address) %]
</p>
[% ELSE %]
<p>
[% loc('Since your password is stored in the directory for your organization, there is no way to reset your password within the Socialtext system.  Please contact your directory administrator for assistance.') %]
</p>
[% END %]
<p>
[% loc('Back to <a href="/nlw/login.html">Log in to Socialtext</a>.') %]
</p>
[% END %]
