[%# @COPYRIGHT@ -%]
[%# vim: set et sts=2 sw=2: %]
[% WRAPPER authen/wrapper id="forgotPasswordPage" title=loc("Forgot Password") heading=loc('Socialtext password help') %]
  <p>
    [% loc('No problem, we can send you an email that will help. You will be able to change your password back to something you know.') %]
  </p>

  <p>
    [% loc('Enter your email address below. Enter the email address you normally use for your Socialtext account. If you got here by clicking a link you received in an email message, look at that message, and use the email address it was sent to.') %]
  </p>

  [% INCLUDE 'authen/element/forgot_password_form' %]

  <p>
    [% SET from_address = 'noreply@socialtext.com' %]
    [% loc('The email we will send you will come from <strong>[_1]</strong>. To ensure you receive it, please add <strong>[_1]</strong> to your address book or safe list.', from_address) %]
  </p>

  <p>
    [% loc('Back to <a href="[_1]">Log in to Socialtext</a>.', '/nlw/login.html') %]
  </p>
[% END %]
