[%# @COPYRIGHT@ -%]
[% PROCESS lite/header.html %]

        [% page_html %]
        [% IF page_update_info %]
        <div><p><em>[% loc('Page Last Updated:') %] [% page_update_info %]</em></p></div>
        [% END %]
        [% IF attachments.size %]
        <hr>
        <p>[% loc('Attachments for this page:') %]</p>
        <ul>
            [%
            FOREACH row = attachments;
                PROCESS attachment_link filename    = row.filename,
                                        page_uri    = page_uri,
                                        file_id     = row.id;  
            END;
            %]
        </ul>
        [% END %]
            
[% PROCESS lite/footer.html %]

[% BLOCK attachment_link %]
<li><a href="/[% workspace_name %]/index.cgi/[% filename | uri %]?action=attachments_download;page_name=[% page_uri %];id=[% file_id %]">[% filename | html %]</a></li>
[% END %]
