@import url('label-value.css');

div.form-element {
    margin-left: 190px;

    clear: both;

    padding-top: 0.5em;
}

input {
    color: #353;
}

span.description {
    font-size: 90%;

    font-style: italic;
}

input.checkbox {
    margin-left: 0;
}

input.button {
    margin-left: 0;

    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

    border-bottom: 2px solid #999;
    border-right: 2px solid #999;

    background-color: white;
    color: #468;

    font-weight: bold;
}

* html input.button {
    font-size: 80%;
}