body {
    background-color: #f2f6f1;
    padding: 4px;
    font-family: Verdana, Arial, Helvetica, Sans-Serif;
    font-size: 90%;
}

#logo {
    float: right;
    clear: right;
    margin-top: 10px;
    margin-right: 10px;
}

#login_message {
    color: red;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 80%; 
}

#support_link {
    clear: both;

    margin-top: 0.5em;
    margin-right: 10px;

    float: right;
    font-size: 75%;
}

* html #support_link {
    margin-right: 5px;
}

div.pane {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

    border-bottom: 2px solid #6c678b;
    border-right: 2px solid #6c678b;

    background-color: white;

    padding: 2px 8px 1em 8px;
    clear: both;
}

#errors-and-messages {
}    

span.error { color: rgb(200,0,0); }
span.message { color: blue }

h1, h2, h3, h4, h5, h6 {
    color: #283878;
}

#product {
    color: black;
    background-color: transparent; 
    font-weight: bold;
}

#product a {
    color: #468;
    text-decoration: none;
}

#http-error-detail {
    font-style: italic;
}

* html .pane h3 {
    height: 1px;
}