[%# @COPYRIGHT@ -%]
[% PROCESS system_name %]
<html>
<head>
 <title>[% loc('Welcome to the [_1] community - please confirm your email address to join', account_name) %]</title>
</head>

        
<body>

<p>
Welcome to [% PROCESS system_name %].
</p>

<p>
[% loc('Your profile has been added to the people directory.') %]
[% loc('Please follow <a href="[_1]">this link to confirm your email address</a>. and update your information.', confirmation_uri) %]
</p>

[% BLOCK system_name -%]
[% IF appconfig.is_appliance %]Socialtext Appliance[% ELSE %]Socialtext[% END %]
[%- END %]

[% PROCESS 'email/standard-footer.html'
   support_link = 1 %]

</body>
</html>
