[%# @COPYRIGHT@ -%]
<html>
<head>
 <title>Please choose a new Socialtext password</title>
</head>

<body>

<p>
Greetings from Socialtext,
</p>

<p>
When you <a href="[% confirmation_uri | html %]">click on this link</a>, you
will be taken to a page which allows you to choose a new password.
</p>

<p>
If you have any questions, please feel free to send email to
<a href="mailto:[% appconfig.support_address | html %]">[% appconfig.support_address | html %]</a>.
</p>
        
<p>
Enjoy!
</p>

<hr />

[% PROCESS 'email/standard-footer.html'
   support_link = 0 %]

</body>
</html>
