#st-spreadsheet-edit {
    background: transparent !important;
}

#SocialCalc-auditview {
    width: 99.5% !important;
}

.socialcalc-spreadsheet-editor {
    background: #fff;
}

.socialcalc-toolbar-background {
    padding: 12px 10px 10px 4px;
    height: 40px;
    background: #404040;

    background: #80a9f3;
    -moz-border-radius-topleft:  7px;
    -moz-border-radius-topright: 7px;
}

.socialcalc-spreadsheet-tab-background {
    padding-bottom: 4px;
    margin: 0px 0px 8px 0px;
    background-color: #ccc;

    background: transparent;
}

.socialcalc-spreadsheet-tabselected {
    font-size: small;
    padding: 6px 30px 6px 8px;
    color: #FFF;
    background-color: #404040;
    cursor: default;
    border-right: 1px solid #CCC;

    background: #80a9f3;
    border: none;
    border-left: 1px solid #555;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

.socialcalc-spreadsheet-tabplain {
    font-size: small;
    padding: 6px 30px 6px 8px;
    color: #FFF;
    background-color: #808080;
    cursor: default;
    border-right: 1px solid #CCC;

    border: none;
    border-left: 1px solid #555;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
}

#st-spreadsheet-toolbar-container {
    background: #c3d9ff;
    width: 100%;
}

#st-spreadsheet-cell-number-format {
    width: 130px;
}

#st-spreadsheet-tabs,
#st-spreadsheet-toolbar {
    padding-left: 5px;
    height: 25px;
}

#st-spreadsheet-toolbar {
    padding-top: 3px;
    height: 28px;
}

#st-spreadsheet-formula-bar {
    height: 30px;
    padding-left: 25px;
    padding-top: 5px;
}

#st-spreadsheet-toolbar-drawer {
    background: #8399cf;
    width: 99%;
    padding-top: 5px;
    padding-left: 5px;
    display: none;
    position: absolute;
    z-index: 10000;
    -moz-opacity: 0.95;
}

#st-spreadsheet-toolbar-drawer textarea {
    height: 10em;
    margin: 0 auto 10px auto;
    width: 95%;
}

#st-spreadsheet-name-tools table {
    margin: 0 auto 10px 0px;
}

.st-spreadsheet-drawer-label {
    font-size: 75%;
    font-weight: bold;
}

#st-spreadsheet-range-names {
    width: 10em;
}

#st-spreadsheet-range-description {
    width:25em;
}

#st-spreadsheet-range-value {
    width:7em;
}

#st-spreadsheet-toolbar:after {
    content: ".";
    clear: both;
    visibility: hidden;
}

#st-spreadsheet-toolbar-bgcolorpicker,
#st-spreadsheet-toolbar-colorpicker {
    border: 5px solid #ccf;
    background: #ffc;
    width: 112px;
    display: none;
    position: absolute;
}

#st-spreadsheet-toolbar-bgcolorpicker {
    position: absolute;
}

#st-spreadsheet-toolbar-bgcolorpicker a,
#st-spreadsheet-toolbar-colorpicker a {
    text-decoration: none;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}

#st-spreadsheet-toolbar a.button {
    display: block;
    float: left;
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 0px;
    text-indent: -999em;
    overflow: hidden;
    background: url("../images/socialcalc/emoticon.gif") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-undo-button-link {
    background: url("../images/socialcalc/undo.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-redo-button-link {
    background: url("../images/socialcalc/redo.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-cut-button-link {
    background: transparent url(../images/socialcalc/cut.png) bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-copy-button-link {
    background: transparent url(../images/socialcalc/copy.png) bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-paste-button-link {
    background: transparent url(../images/socialcalc/paste.png) bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-erase-button-link {
    background: transparent url(../images/socialcalc/erase.png) bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-color-button-link {
    background: url("../images/socialcalc/color.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-bgcolor-button-link {
    background: url("../images/socialcalc/bgcolor.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-bold-button-link {
    background: url("../images/socialcalc/bold.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-italic-button-link {
    background: url("../images/socialcalc/italic.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-left-button-link {
    background: url("../images/socialcalc/left.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-center-button-link {
    background: url("../images/socialcalc/center.png") bottom left no-repeat;
}


#st-spreadsheet-toolbar #st-right-button-link {
    background: url("../images/socialcalc/right.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-insert-row-button-link {
    background: url("../images/socialcalc/insert-row.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-delete-row-button-link {
    background: url("../images/socialcalc/delete-row.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-insert-col-button-link {
    background: url("../images/socialcalc/insert-col.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-delete-col-button-link {
    background: url("../images/socialcalc/delete-col.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-sort-button-link {
    background: url("../images/socialcalc/sort.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-name-button-link {
    background: url("../images/socialcalc/name.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-comment-button-link {
    background: url("../images/socialcalc/comment.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-clipboard-button-link {
    background: url("../images/socialcalc/clipboard.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-filldown-button-link {
    background: transparent url("../images/socialcalc/fill-down.png") bottom left no-repeat;
}

#st-spreadsheet-toolbar #st-fillright-button-link {
    background: transparent url("../images/socialcalc/fill-right.png") bottom left no-repeat;
}

#st-spreadsheet-tabs {
    background: #fff;
    height: 25px;
    float: left;
    padding-right: 30px;
}

#st-spreadsheet-tabs a.button {
    background: #c3d9ff;
    display: block;
    margin: 0 2px 0 0;
    float: left;
    padding: 5px 10px 4px 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    text-decoration: none;
    color: #999;
}

#st-spreadsheet-tabs a.button.active,
#st-spreadsheet-tabs a.button: hover {
    color: #000;
}

#st-spreadsheet-tabs: after {
    content: ".";
    clear: both;
    visibility: hidden;    
}

#st-spreadsheet-buttons {
    background: #fff;
    height: 28px;
}

#st-spreadsheet-buttons a.button {
    background: #ccc;
    color: black;
    display: block;
    margin: 0 2px 2px 2px;
    float: left;
    padding: 5px 10px 2px 10px;
    text-decoration: none;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}

#st-spreadsheet-title {
    font-weight: bold;
    display: block;
    margin: 0 2px 2px 30px;
    float: left;
    padding: 5px 10px 2px 10px;
}
