[% USE html_encode %]

[% MACRO linked_person (person) BLOCK %]
    [% IF person.profile_is_visible %]
        <a target="_blank" href="/?profile/[% person.id %]">
            [% person.best_full_name | html_encode %]
        </a>
    [% ELSE %]
        [% person.best_full_name %]
    [% END %]
[% END %]

[% MACRO linked_person_tag (tag) BLOCK %]
    <a target="_blank" href="/?action=people;tag=[% tag | html_encode %]">
        [% tag %]
    </a>
[% END %]

[% MACRO linked_page_tag (tag, page) BLOCK %]
    <a href="/[% page.workspace_name %]/?action=category_display;category=[% tag | html_encode %]">[% tag %]</a>
[% END %]

[% MACRO linked_page (page) BLOCK %]
    <a target="_blank" href="/[% page.workspace_name %]?[% page.id %]">
        [% page.name %]
    </a>
    in
    <a target="_blank" href="/[% page.workspace_name %]">
        [% page.workspace_title %]
    </a>
[% END %]

<img width="27" height="27" style="margin:4px 8px 4px 4px;float: left; display: inline;" class="avatar" src="/data/people/3/small_photo#0.6205638318754736"/>
<img width="16" height="16" style="padding-bottom:4px; padding-left:4px;float:right; display: inline" class="asset-icon" src="/nlw/plugin/widgets/images/asset-icons/tag-16.png"/>
<p>
[% IF e.event_class == 'person' %]
    [% SWITCH e.action %]
    [% CASE "edit_save" %]
        edited [% linked_person(e.person) %]'s profile
    [% CASE "tag_add" %]
        [% linked_person(e.person) %] was tagged 
        '[% linked_person_tag(e.tag_name) %]' by [% linked_person(e.person) %]
    [% CASE "tag_delete" %]
        [% linked_person(e.actor) %]
        removed tag 
        [% linked_person_tag(e.tag_name) %]
        from [% linked_person(e.person) %]
    [% CASE "watch_add" %]
        [% linked_person(e.actor) %] is now following 
        [% linked_person(e.person) %].
    [% CASE "watch_delete" %]
        [% linked_person(e.actor) %] has stopped following 
        [% linked_person(e.person) %].
    [% CASE %]
        [% linked_person(e.actor) %] performed action '[% e.action %]' on
        [% linked_person(e.person) %]
    [% END %]
[% ELSIF e.event_class == 'page' %]
    [% SWITCH e.action %]
    [% CASE "view" %]
        [% linked_person(e.actor) %] viewed [% linked_page(e.page) %]
    [% CASE "edit_save" %]
        [% linked_person(e.actor) %] edited [% linked_page(e.page) %]
    [% CASE "duplicate" %]
        [% linked_person(e.actor) %] duplicated [% linked_page(e.page) %]
    [% CASE "rename" %]
        [% linked_person(e.actor) %] renamed [% linked_page(e.page) %]
    [% CASE "delete" %]
        [% linked_person(e.actor) %] deleted [% linked_page(e.page) %]
    [% CASE "comment" %]
        [% linked_person(e.actor) %] commented on [% linked_page(e.page) %],
        saying [% e.context.summary %]
    [% CASE "tag_add" %]
        [% linked_person(e.actor) %] tagged [% linked_page(e.page) %]
        as [% linked_page_tag(e.tag_name, e.page) %],
    [% CASE "tag_delete" %]
        [% linked_person(e.actor) %] removed tag
        [% linked_page_tag(e.tag_name, e.page) %] from
        [% linked_page(e.page) %]
    [% CASE %]
        [% linked_person(e.actor) %] performed action '[% e.action %]'
        on [% linked_page(e.page) %]
    [% END %]
[% END %]
</p>

<!--
    <a href="/?profile/3" target="_parent" class="person">devnull1</a>
    was tagged 
    '<a href="/?action=people;tag=yo" target="_blank" class="">yo</a>'
    by
    <a href="/?profile/3" target="_parent" class="person">devnull1</a>
    <span class="madlib-ago">(10 minutes ago)</span>
-->
