/*

Socialtext ie 6 specific Style Sheet
Author: Mark Schuber :: Araucaria Design
Date: 05/12/2008

*/

div.widget div.widgetBottom {
	background: url(../images/widgetBottom.png) no-repeat 1px bottom;
	height: 10px;
}

div#controls div#st-editing-tools-edit ul li a {
	margin-left: 12px;
}
