@import url('ieStyles.css');

div#buttomButtons div#pageAttribution {
    margin: 5px 5px 0 190px;
    padding: 5px;
}

/* Begin fix {bz: 957} */
html div#contentLeft {
    overflow: hidden;
}

html body#contentPage div#controls div#controlsRight,
html body#dashBoard div#controls div#controlsRight,
html body#settingsPage div#controls div#controlsRight {
    width: 260px !important;
}

html div#mainWrap {
    width: expression( (document.body.clientWidth * 0.9 > 805) ? '90%' : '805px' );
}

html body#workSpace div#mainWrap, html body#blog div#mainWrap, html body#dashBoard div#mainWrap {
    width: expression( (document.body.clientWidth * 0.9 > 880) ? '90%' : '880px' );
}

html body#listPage div#mainWrap {
    width: expression( (document.body.clientWidth * 0.9 > 885) ? '90%' : '885px' );
}

/* End fix {bz: 957} */

html body div#st-page-editing-toolbar-container {
    height: 50px;
}
