@import url('styles.css');
@import url('../../wikiwyg/css/lightbox.css');

/* overloads */

html body {
    line-height: normal;
}

body#blog div#controls div#controlsRight, div#st-editing-tools-edit {
    width: auto !important;
}

div#contentColumns div#contentLeft {
    overflow: auto !important;
}

/* {bz: 1459}: Safari needs overflow-y:hidden to hide the vertical scrollbar */
body div#contentColumns div#contentLeft {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

body div#contentColumns div#contentLeft.overflowVisible {
    overflow: visible !important;
}

div#contentColumns.hidebox #contentLeft {
    width: 97%;
}

div#contentColumns #contentRight {
    background-color: inherit;
}

div#contentColumns.hidebox #contentRight {
    display: none;
}

div#contentColumns.showbox #contentRight {
    display: block;
}

#st-wikinav-profile {
    float: none !important;
}

div#header div#globalNav {
    padding: 8px 0px;
    margin: 0px;
    width: auto !important;
    white-space: nowrap;
}

div#controls div#controlsRight ul li a.watch.on {
       background: url(../images/watchingIcon.png) no-repeat center left;
}

td.listview-watchlist {
    width: 200px;
}

td.listview-watchlist a.watch.on {
       background: url(../images/watchingIcon.png) no-repeat center left;
}

td.listview-watchlist a.watch:hover {
    color: #33A8FF;
}

td.listview-watchlist a.watch {
    background: url(../images/watchIcon.png) no-repeat center left;
    color: #333333;
    float: right;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px 0 28px;
    margin: 5px;
}


/* Hacks to get around there not being an avatar on the araucaria version */
body#dashBoard div#controls div#frame {
    float: left;
    margin: 7px 0 0 20px;
    background:none;
}
body#dashBoard div#controls div#frame img {
    margin: 3px 3px 0 0;
}
body#dashBoard div#controls span.welcome {
    margin-top: 14px;
    font-size: 12px;
    display: block;
    line-height: 16px;
    float: left;
    padding-left: 10px;
}

div#contentContainer {
    padding: 0 0 0px 20px;
}

table.dataTable td img.pageType {
    border: none;
    margin: 5px;
}
 
table.dataTable td img.avatar {
    float: none;
    margin: 5px;
    vertical-align: middle;
}

table.dataTable {
    width:98%;
}

table.dataTable span.summary strong {
    font-weight:bold;
    background:#ffc;
    padding:1px 2px;
}

div#bottomButtons {
    width: 100%;
}

div#bottomButtons ul.buttonRight {
    background: auto;
    height: auto;
    padding-left: auto;
}
div#bottomButtons img.avatar {
    vertical-align: middle;
}
 
div#bottomButtons div#pageAttribution {
    background: url(../images/controlsRightDivider.png) no-repeat center left;
    margin: 5px 5px 0 180px;
    padding: 5px;
}

body#workSpace div#controls div#st-editing-tools-edit h1,
body#blog div#controls div#st-editing-tools-edit h1,
div#contentContainer h2.tableTitle {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

div#contentContainer h2.tableTitle {
    width: 90%;
}

div#controls div#st-editing-tools-edit {
    max-width: 80%;
    display: block;
}

body#blog div#controls div#controlsRight {
    max-width: 20%;
}

div#controls div#st-editing-tools-edit {
    max-width: 80%;
}


div.goTo {
    white-space: nowrap;
}


div.widget ul.widgetButton li a.addTagButton {
    width: 87px;
}

div.wiki ol, div.wiki ul {
    padding-left: 25px;
}

div.wiki ol {
    list-style: decimal outside none;
}

div.wiki ul {
    list-style: disc outside none;
}

div.wiki ul ul, div.wiki ol ul {
    list-style-type: circle;
}

div.wiki ol ol ul, div.wiki ol ul ul, div.wiki ul ol ul, div.wiki ul ul ul {
    list-style-type: square;
}

div.wiki li {
    padding: 3px 0px;
}

div.wiki td, div.wiki th {
    vertical-align: top;
}
/* Done overloads */

#globalNav form {
    width: 480px;
    text-align: right;
}

ul.normal {
    list-style: disc;
    list-style-position: inside;
}

ul.normal ul {
    list-style: circle;
    list-style-position: inside;
    padding-left: 10px;
}

ul.normal ul ul {
    list-style: square;
    list-style-position: inside;
    padding-left: 20px;
}

#st-email-lightbox th {
    padding-right: 10px;
    vertical-align: middle;
}

#st-email-lightbox input {
    margin-left: 0px;
}

#st-email-lightbox .email_input {
    width: 250px;
}

#st-email-lightbox .email_input_button {
    width: 120px;
}

#st-email-lightbox .email_input_textarea {
    width: 640px;
}

#wikiwyg_wikitext_textarea {
    background-color: #FFFFDD !important;
}

/* Additional Settings styles */
#settingsPage td {
    padding: 4px;
}

#settingsPage th {
    padding: 4px;
    font-weight: bold;
}

#settingsPage dd {
    line-height: 1.2em;
    margin-bottom: 4px;
}

/* Additional People Profiles styles */
ul li a.followPersonButton {
    line-height: 16px;
    height: 22px;
    background: url(../images/followIcon.png) no-repeat top left;
    padding-left: 25px;
}

/* Wafl Boxes */

#st-page-content .wafl_container td {
    border: none;
    font-size: 1em;
}

.wafl_box {
    background: #F4F4F4 none repeat scroll 0%;
    border: 1px solid #AAAAAA;
    color: #000000;
    padding: 10px;
}

.wafl_box .wiki {
    margin: 0px;
    border: none;
}

.wafl_title {
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 1em;
}

.wafl_box ul {
    list-style-type: disc;
    padding-right: 10px;
}

/* Include page styles */

.wiki-include-edit-link {
    font-size: 10px;
    font-weight: normal;
}

.wiki-include-page {
    border-left: 1px solid #80a9f3;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 12px;
}

.wiki-include-title {
    font-size: 19px;
    font-weight: bold;
    margin-left: 6px;
    background: none;
}

.wiki-include-title a {
    text-decoration: none;
    color: blue;
}

.wiki-include-title a:hover {
    text-decoration: underline;
}

div.wiki-include-content {
    margin-left: 6px;
}

/* Footer */

#st-socialtext-attribution {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#st-socialtext-attribution img {
    border: none;
}

#st-footer {
    clear: both;
    margin-top: -7px;
    font-size: 0.7em;
    font-family: Georgia, serif;
    font-style: italic;
}

#st-edit-actions-below-fold {
    position: relative;
    float: left;
    padding-left: 20px;
    margin-top: 4px;
    width: 80px;
}

#st-page-details {
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 4px;
}

html>body #st-page-details {
    margin-left: 20px;
    margin-right: 20px;
}

.st-page-details-feed-icon {
    border: none;
}

#st-footer-actions {
    position: relative;
    float: right;
    text-align: right;
    width: 50px;
    padding-right: 20px;
    margin-top: 4px;
}

/* Wikiwyg */
#st-page-editing-wysiwyg {
    padding-top: 3px;
}

#wysiwyg-editable-div div.wiki {
    margin:0; padding:0;
}

#wysiwyg-editable-div ol,
#wysiwyg-editable-div ul,
#wysiwyg-editable-div p {
  margin-top:0;
  margin-bottom:0;
}

/* Edit widget drop down menu css */
#st-editing-insert-menu {
    list-style: none;
    line-height: 1em;
    margin-top: 0px;
    padding: 4px 0 0 0;
}

#st-editing-insert-menu ul {
    background: #eee;
    border: solid #888;
    border-width: 1px;
    list-style: none;
    line-height: 1;
    font-weight: bold;
    padding: 0;
}

#st-editing-insert-menu a,
#st-editing-insert-menu a:active,
#st-editing-insert-menu a:link {
    display: block;
    width: 11.7em;
    color: #000;
    text-decoration: none;
    padding: 0.25em;
    line-height: 1em;
}

#st-editing-insert-menu a.daddy {
    background: url("../images/rightarrow.gif") center right no-repeat;
}

#st-page-editing-widget-menu {
    float: left;
    margin-top: 1px;
    padding: 0 5px 0 5px;
    font-size: 9pt;
    font-weight: bold;
    font-family: Helvetica,Arial,sans-serif;
}

#st-editing-insert-menu li a {
    background: transparent url('../../s2/images/arrow-down.gif') 40px 3px no-repeat;
}

#st-editing-insert-menu li li a {
  background-image: none;
}


#st-editing-insert-menu li {
    float: left;
    padding: 0;
    width: 8em;
    text-decoration: none;
}

#st-editing-insert-menu li ul {
    position: absolute;
    left: -999em;
    height: auto;
    width: 12.5em;
    w\idth: 12.5em;
    font-weight: normal;
    border-width: 1;
    margin: 0;
}

#st-editing-insert-menu li li {
    padding-right: 0;
    width: 12.5em;
}

#st-editing-insert-menu li ul a {
    width: 11.7em;
    w\idth: 11.7em;
}

#st-editing-insert-menu li ul ul {
    margin: -1.75em 0 0 12.5em;
}

#st-editing-insert-menu li:hover ul ul,
#st-editing-insert-menu li:hover ul ul ul,
#st-editing-insert-menu li.sfhover ul ul,
#st-editing-insert-menu li.sfhover ul ul ul {
        left: -999em;
}

#st-editing-insert-menu li:hover ul,
#st-editing-insert-menu li li:hover ul,
#st-editing-insert-menu li li li:hover ul,
#st-editing-insert-menu li.sfhover ul,
#st-editing-insert-menu li li.sfhover ul,
#st-editing-insert-menu li li li.sfhover ul {
        left: auto;
}

#st-editing-insert-menu li:hover,
#st-editing-insert-menu li.sfhover {
        background: #ccc;
}


/* Listview Tools */

#listPage #controlsRight {
    z-index: 300;
    font-size: 10px;
    float: right;
    margin: 0px 0px 0px 0px;
    color: #000;
    vertical-align: bottom;
    position: relative;
}

#st-listtools a {
    text-decoration: none;
    color: black;
    padding-left: 17px;
}

#st-listtools span {
    color: inherit;
    padding-left: 17px;
    vertical-align: top;
    text-align: right;
}

#controlsRight li {
    position: relative;
    list-style: none;
    margin: 0;
    padding-right: 5px;
    float: left;
}

body#listView #controlsRight ul li {
    font-size: 14px;
}

#controlsRight ul ul li:hover {
    background: #BFE2FF;
}

div.controlsInline ul li a {
    float: left;
    color: #333;
    font-weight: bold;
    font-size: 9px;
}

div.controlsInline ul li a.watch {
    background: url(../images/watchIcon.png) no-repeat center left;
    padding: 0 10px 0 28px;
}

ul.buttonRight li a, #controlsRight li a, .controlsInline li a {
    display: block;
    text-decoration: none;
}

#controlsRight>ul a {
    width: auto;
}

ul.buttonRight ul, #controlsRight ul ul {
    position: absolute;
    width: auto;
    display: none;
}

ul.buttonRight ul.level2, #controlsRight ul.level2 {
    z-index: 300;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #CCC;
    border-width: 0 1px;
}

ul.buttonRight ul li {
    line-height: 1.5em !important;
    width: auto;
    clear: both;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
}

#controlsRight ul ul li {
    line-height: 1.5em !important;
    width: 10.6em;
    padding-top: 2px;
    padding-bottom: 2px;
}

#controlsRight li.first {
    border-top: 1px solid #CCC;
}

#controlsRight li.separator {
    border-bottom: 1px solid #CCC;
}

ul.buttonRight ul li a, #controlsRight ul ul li a {
    border-bottom: 1px solid #CCC;
    padding-left: 19px;
    padding-right: 3px;
    margin-right: 3px;
    border: 0px;
}

ul.buttonRight li.submenu li.submenu:hover, #controlsRight li.submenu li.submenu:hover {
    z-index: 300;
    background-color: #BFE2FF;
}

ul.buttonRight li.submenu ul.level2 {
    position: absolute;
    height: 65px !important;
    border-width: 1px;
    margin-top: -10px;
    margin-left: 10px;
}

ul.buttonRight a.newPageButtonMenu {
    background-position: top left !important;
}

ul.buttonRight li.submenu:hover ul.level2, #controlsRight ul.level1 li.submenu:hover ul.level2 {
    display: block;
}

ul.buttonRight li.submenu a:hover {
    color:#33A8FF;
}

ul.buttonRight li.submenu a {
    color:#333333;
    float:left;
    font-size:9px;
    font-weight:bold;
}

#controlsRight ul.level2 {
    top: 1.3em;
    left: -4.2em;
}

body#listView #controlsRight ul ul li {
    font-size: 12px;
}

body#contentPage #controlsRight ul.level2 {
    top: 2em;
}

#st-listview-submit-pdfexport {
    background: url("../images/pdficon_small.gif") left center no-repeat;
}

#st-listview-submit-rtfexport {
    background: url("../images/page_word.png") left center no-repeat;
}

.additional-info {
    margin-left: 1.5em;
    padding-bottom: 5px;
}

#loading-message, #saving-message {
    padding: 15px;
}

/*
 * XXX: Hack around the fact that we don't have buttons for these elements yet
 */
a#st-mode-wysiwyg-button,
a#st-mode-wikitext-button,
a#st-edit-tips {
    top: 0 !important;
    padding-left: 10px !important;
    margin-left: 0px !important;
}

/* Loading... message */
div#bootstrap-loader {
    float: left;
    display: none;
}

/* pagetools : the top right New Page, Print, Email, and Tools items at top right */


#st-page-editing-toolbar {
    overflow: hidden;
    float: left;
    margin-top: 0px;
    padding-bottom: 0px;
}
#wikiwyg_toolbar {
    display: none;
    /*
    margin-left: 25px;
    margin-bottom: -3px;
    */
}
.wikiwyg_button {
    border: 1px solid #F3F3F3;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-top: 4px;
}
.wikiwyg_button:hover {
    border: 1px outset;
}
.wikiwyg_button:active {
    border: 1px inset;
}

#st-page-editing-uploadbutton {
    font-size: 9pt;
    margin-top: 4px;
    font-weight: bold;
    z-index: 1500;
    float: left;
}
#st-page-editing-tagbutton {
    z-index: 1500;
    margin-top: 4px;
    float: left;
    padding: 0 20px 0 8px;
    font-size: 9pt;
    font-weight: bold;
}

#st-page-editing-toolbar-closer {
    float: right;
    height: 29px;
    width: 20px;
}

#st-editing-prefix-container {
    border-collapse: collapse;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: -35px;
}

#st-editing-prefix-container a.button {
    display:block;
    padding: 1px 5px;
    margin: 0;
    color: #000;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#st-editing-prefix-container a.button:hover {
    background:#ccc;
}

/* Listview selectors */

.query-results-row-title {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 90%;
}

.query-results-titles .query-results-row-title {
    line-height: 35px;
}

.query-results-titles img {
    display: block;
    padding-top: 12px;
}

.query-results-row-title img {
    float: left;
}

.query-results-row-title .avatar {
    display: inline;
    float: none;
    padding: 0;
}

.query-results-row-title a {
    font-weight: bold;
    display: inline;
    font-size:120%;
    padding-left:8px;
    line-height:21px;
}

.query-results-row-title-attached-to a,
.query-results-row-workspace a,
.person a {
    padding-left:0;
    font-size:100%;
    font-weight:normal;
}

/* 
 * Override the default location of a person's link when looking at tabular
 * data.
 */
td.person a {
    top: 0px !important;
}
.query-results-row-summary strong {
    background:#ffd;
    padding:2px;
}

.query-results-row-title .query-results-row-summary {
    display: block;
    margin-left: 24px;
}

.query-results-row-revisions {
    font-style: italic;
    font-size: 90%;
    white-space: nowrap;
    color: gray;
}

.query-results-row-title .query-results-row-revisions a {
    display: inline;
    margin: 0;
    font-size:12px;
    line-height:100%;
    padding:0;
}

.query-results-content {
    font-size: 85%;
}
 
.query-results-row {
    margin: 0.5em 0 0 0;
    padding: 0;
    clear: both;
}
 
.st-listview-select {
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    width: 2em;
}

.query-results-titles .st-listview-select {
    padding-top: 12px;
}

.query-results-row-last-edited-by {
    text-align: right;
    font-style: italic;
    color: #666;
    white-space: nowrap;
    clear: left;
}

.query-results-row-title .query-results-row-last-edited-by {
    clear: none;
}

.query-results-row-last-edited-by .query-results-row-uploaded-by,
.query-results-row-title .query-results-row-uploaded-by {
    margin: 0;
    padding: 0;
    font-style: italic;
    color: gray;
    text-align: right;
}

.query-results-row-date {
    margin: 0;
    padding: 0;
}

.query-results-row a {
    color: #00f;
}

.query-results-header-row {
    border: 1px #ccc solid;
    background: #f8f8f8;
    padding: 4px 0;
    height: 1.4em;
    margin:0;
}

.query-results-row-watchlist {
    float: right;
}

.query-results-row-title-attached-to {
    margin:0;
    padding:0;
}
/* END list-view selectors */
 
#select-all {
    display: block;
    float:left;
    margin:0;
    padding:0 0.25em 0 0;
    border-right:1px dashed #999;
}

#show-titles-or-summaries {
    display: inline;
    margin:0 0 0 0.75em;
    padding:0;
    line-height:20px;
}

#show-titles-or-summaries a.selected {
    font-weight:bold;
    text-decoration:none;
    color:black;
}

#sort-by-picker {
    height: 22px;
    display:block;
    float:right;
    padding-right:1em;
}

#sort-by-picker select {
    border: 1px #666 solid;
    padding: 1px 2px;
    margin:0;
}

#sort-picker {
    padding:0;
    margin:0;
}

#files-operations {
    clear: left;
}

/* Revision comparison */

#st-page-title {
    padding-bottom: 12px;
}

#revision-compare-table {
    border-collapse:collapse;
}

.st-revision-compare-old {
    background-color: #ff6666;
    text-decoration: line-through;
}

.st-revision-compare-new {
    background-color: #66ff66;
}

.revision-compare-table-header div {
    padding-bottom: 10px
}

.revision-chunk-before,
.revision-chunk-after {
    padding:3px 10px;
    overflow:hidden;
    width:50%;
    border-top:1px #ccc solid;
}

.revision-chunk-before {
    padding-right:20px;
}

.revision-chunk-after {
    padding-left:20px;
}


#st-revision-tags {
    padding-top: 20px;
}

body#contentPage div#st-editing-tools-edit ul#revision-tools li a {
    top: 0px;
}

/* 
 * Override default behaviour when we don't have to contend with the
 * sideboxes.
 */
#st-revision-display #contentColumns #st-page-maincontent {
    float: none;
    width: auto;
}

/* Same as: div.widget div.widgetContent div.wiki em */
div#contentColumns div#st-page-maincontent em {
	font-size: 10px;
	color: #000000;
	line-height: 18px;
	margin-top: 20px;
	font-style: italic;
}

/* Same as: div.widget div.widgetContent div.wiki p strong */
div#contentColumns div#st-page-maincontent p strong {
	font-weight: bold;
}

div#st-ref-card .buttons {
    margin-top: 0px;
    position: absolute;
    right: 25px;
    top: 10px;
}

.st-refcard-table, .st-refcard-table table, .st-refcard-table th, .st-refcard-table td {
        border-color: #999;
        border-style: solid;
}

.st-refcard-table.st-refcard-table table,  {
        border-width: 1px;
}

.st-refcard-table, .st-refcard-table table, .st-refcard-table th, .st-refcard-table td {
        margin: 0;
        border-width: 1px;
        background-color: #EEE;
}

div#st-display-mode-container.st-content-no-controls {
        margin-top: 0px;
}

div#st-display-mode-container.st-content-no-controls div#contentContainer {
        padding-top: 15px;
        padding-bottom: 15px;
}
/* mainNav Dropdown menus styles */

div#mainNav ul.level2 li img {
    float: left;
    margin: 1px;
}
div#mainNav ul.level2 li a:hover {
    color: #33A8FF;
}

/* Order matters with the two following styles. Second one overrides the first
 * for ul elems with BOTH level2 and withimage classes
 */
div#mainNav ul.level2 li {
    color: #0C5A9A;
    display: block; 
    text-decoration: none; 
    font-size: 10px;
    line-height: 20px;
    clear:left;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid black;
}

div#mainNav ul.level2.withimage li {
    line-height: 30px; /* 27 pt image with 1px margin top/bottom + 1 px border-bottom*/
}


div#mainNav ul.level2 li a {
    color: #0C5A9A;
    font-size: 10px;
    line-height: 20px;
    padding: 0px 0px 0px 3px;
}

div#mainNav ul.level2 li.dropaction a,
div#mainNav ul.level2 li.notinstallednotice a
{
    font-weight: bold;
    line-height: 20px;
    font-size: 10px;
}

div#mainNav ul.level2 li.notinstallednotice a
{
    line-height: 1;
    padding: 0px;
    display: inline;
    float: none;
}

div#mainNav li {
    position: relative;
    list-style: none; 
    margin: 0;
    float: left;
    line-height: 1em;
}

div#mainNav>ul a {
    width: auto; 
}

/* Order matters with the two following styles. Second one overrides the first
 * for ul elems with BOTH level2 and withimage classes
 */
div#mainNav ul ul.level2 {
    position: absolute;
    width: 18em;
    display: none;
    border: 1px solid #313a3d;
    max-height: 168px; /* 8 lines where each line is 20px plus 1 px border- 8*21. see above */
    overflow: auto;
}

div#mainNav ul ul.level2.withimage {
    max-height: 261px; /* 8 lines of 29 pixels(+1 for border each line) + 1 row of 20px (+1 for border) for ul.level2 that contain images in each line.  */
}

div#mainNav ul.level1 li.submenu:hover ul.level2 {
    display: block; 
}
div#mainNav ul.level1 li.submenu:hover {
    z-index: 2000;
}

div#mainNav ul.level2 {
    top: 3.0em; 
    left: -1px;
    background: white;
}

/* Overrides a style from styles.css line 206 */
div#mainNav ul.level2 li a {
    background: none;
}

/* WTF is the dropdownTick doing on the li element in styles.css? */
div#mainNav ul.level1>li>a { 
    background: url(../images/dropdownTick.png) no-repeat center right;
}

div#mainNav ul.level1>li { 
    padding-right: 15px;
    background: url(../images/mainNavDivider.png) no-repeat center right;
}

div#mainNav .emptynotice, div#mainNav .notinstallednotice {
    line-height: 13px !important;
    padding-left: 10px;
    border-bottom: none !important;
    width: 18em !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
div#mainNav .product-name {
    font-weight: bold;
}

div#mainNav .product-name {
    font-weight: bold;
}
/* alterations to main nav bar to account for new workspace nav bar
------------------------------------------------------------ */
div#header {
    height:60px;
    min-height:60px;
}
div#header div#globalNav div {
    margin-top:10px;
}
div#header div#logo {
    top:13px;
}
div#st-display-mode-container {
    margin-top:0;
}
div#mainNav {
    margin-bottom:8px;
    margin-top:0;
    clear:both;
}
/* Workspace submenu 
------------------------------------------------------------ */
#workspaceContainer {
    margin:0 1em 0 1em;
    padding:0;
    background:#ccc url(../images/wsTile.png) repeat-x scroll left top;
}
#workspaceNav {
    margin:0.8em 0 0 0;
    padding:6px 1em 3px 1em;
    border-bottom:none;
    background:transparent url(../images/wsLeft.png) no-repeat scroll left top;
    position:relative;
}
#workspaceNav ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#workspaceNav ul li {
    display:inline;
    padding:0;
}
#workspaceNav .here {
    font-weight:bold;
}
#workspaceNav ul li a, #workspaceNav ul li span {
    background: transparent url(../images/wsDivider.png) no-repeat scroll right center;
    padding:0 14px 0 7px;
}
#workspaceNav ul li a:hover {
    color:#333;
}
#newPageButton {
    position:absolute;
    right:0;
    top:0;
    padding:6px 12px 3px 12px;
    background:transparent url(../images/wsRight.png) no-repeat scroll right top;
    font-weight:bold;
}
#newPageButton.disabled {
    background-image: url(../images/wsRightDisabled.png);
}



div#workspaceNav ul.level2 {
    position: absolute;
    width: 17em;
    display: none;
    border: 1px solid #313a3d;
    top: -2.5em; 
    left: -8em;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;

}

div#workspaceNav li.submenu:hover ul.level2 {
    display: block; 
}
div#workspaceNav li.submenu:hover {
    z-index: 4000;
}

div#workspaceNav ul.level2 li {
    display: block;
    z-index: 4000;
    padding-top: 3px;
    padding-bottom: 3px;
}

div#workspaceNav ul.level2 li a {
    background: none;
    color: #333333;
}

div#workspaceNav ul.level2 li a:hover {
    text-decoration: none;
    color: #33A8FF;
}

html body div#st-page-editing-toolbar-container {
        height: 50px;
}

body#simple-html {
    background: none;
    background-color: auto;
    text-align: left;
}

body#simple-html h3 {
    font-weight: bold;
    font-size: large;
    padding-top: 20px;
}

/* Comment insertion */
.commentWrapper {
    height: 200px;
}
.comment {
    display: none;
}
.comment textarea {
    background-color: #FFFFDD;
    border:1px solid black;
    width: 95%;
    height: 100px;
}
.comment .formButtons li {
    float: left;
    margin-right: 10px;
}

td.st-homepage-simplelist-left {
    padding-right: 10px;
}

td.st-homepage-simplelist-right {
    text-align: right;
}

span.person img.avatar {
    border: 1px solid #AFAFAF !important;
    margin-top: 2px !important;
}

a.incipient {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.addButton {
        display: block;
        width: 30px;
        height: 22px;
        background: url(../images/addButton.png) no-repeat;
        background-position: top left;
        text-indent: -9999px;
        float: left;
        margin-top: 9px;
        vertical-align: bottom;
}

.addButton:hover {
        background-position: top right;
}


body#contentPage div#controls div#controlsRight,
body#dashBoard div#controls div#controlsRight,
body#settingsPage div#controls div#controlsRight {
    max-width: 550px;
}

body div#mainWrap {
    min-width: 865px;
}


ul li a.previewButton {
        display: block;
        width: 98px;
        height: 22px;
        background: url(../images/previewButton.png) no-repeat;
        background-position: top right;
        text-indent: -9999px;
}

ul li a.previewButton:hover {
        background-position: top left;
}

body div#controls div#st-editing-tools-edit ul li a {
    margin-left: 0px;
}

body div#controls div#st-editing-tools-edit ul li {
    padding-left: 10px;
}

body div#controls div#st-editing-tools-edit ul li a.disabled {
    color: black;
    font-weight: bold;
}


/* Wiki Content Styles
--------------------------------------------------------------

/* Default font settings.
The font-size percentage is of 16px. (0.75 * 16px = 12px) */
.wiki {
    color: #222;
    font-size:110% ! important;
    line-height: 1.2 ! important;
}
.wiki p,
.wiki li,
.wiki td,
#st-revision-display {
    font-size:12px ! important;
    line-height:15px;
}
.wiki em {
    font-size:inherit ! important;
}
.wiki a:visited {
    color: #551A8B;
}

html .wiki a:hover {
    color: #33a8ff;
}

/* Headings
-------------------------------------------------------------- */

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 {
    font-weight: normal;
    color: #0A94DF;
    line-height: 1.2 ! important;
}

.wiki h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}
.wiki h2 {
    font-size: 1.7em;
    margin-bottom: 0.75em;
}
.wiki h3 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}
.wiki h4 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.wiki h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
.wiki h6 {
    font-size: 1em;
    font-weight: bold;
}

.wiki h1 img,
.wiki h2 img,
.wiki h3 img,
.wiki h4 img,
.wiki h5 img,
.wiki h6 img {
    margin: 0;
}


/* Text elements
-------------------------------------------------------------- */

.wiki p {
    margin-bottom: 1em ! important;
    margin-top: 0 ! important;
}

.wiki p img.left {
    padding: 0;
    border:1px #999 solid;
    margin: 1.5em;
}

.wiki p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
}
.wiki p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}

.wiki span.nlw_phrase img {
    float: none;
    margin: 0px;
    vertical-align: baseline;
}

.wiki blockquote {
    margin: 1em 1.5em;
    color: #666;
    font-style: italic;
}
.wiki strong {
    font-weight: bold;
}
.wiki em,
.wiki dfn {
    font-style: italic;
}
.wiki dfn {
    font-weight: bold;
}
.wiki sup,
.wiki sub {
    line-height: 0;
}

.wiki abbr,
.wiki acronym {
    border-bottom: 1px dotted #666;
}
.wiki address {
    margin: 0 0 1.5em;
    font-style: italic;
}
.wiki del {
    color: #666;
}

.wiki pre,
.wiki code {
    margin: 1.5em 0;
    white-space: pre;
}
.wiki pre,
.wiki code,
.wiki tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}


/* Lists
-------------------------------------------------------------- */

.wiki li ul,
.wiki li ol {
    margin: 0 1.5em;
}
.wiki ul,
.wiki ol {
    margin: 0 1.5em 1.5em 1.5em;
    line-height: 1.2em;
}

.wiki ul {
    list-style-type: disc;
}
.wiki ol {
    list-style-type: decimal;
}

.wiki dl {
    margin: 0 0 1.5em 0;
}
.wiki dl dt {
    font-weight: bold;
}
.wiki dd {
    margin-left: 1.5em;
}


/* Tables
-------------------------------------------------------------- */

.wiki table {
    margin-bottom: 1.4em;
    width: auto;
}
.wiki th {
    font-weight: bold;
    background: #C3D9FF;
}
.wiki th,
.wiki td {
    padding: 4px 10px 4px 5px; 
}
.wiki tr.even td {
    background: #E5ECF9;
}
.wiki tfoot {
    font-style: italic;
}
.wiki caption {
    background: #eee;
}


/* Misc classes
-------------------------------------------------------------- */

.wiki .small {
    font-size: .8em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
}
.wiki .large {
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1.25em;
}
.wiki .hide {
    display: none;
}

.wiki .quiet {
    color: #666;
}
.wiki .loud {
    color: #000;
}
.wiki .highlight {
    background: #ff0;
}
.wiki .added {
    background: #060;
    color: #fff;
}
.wiki .removed {
    background: #900;
    color: #fff;
}

.wiki .first {
    margin-left: 0;
    padding-left: 0;
}
.wiki .last {
    margin-right: 0;
    padding-right: 0;
}
.wiki .top {
    margin-top: 0;
    padding-top: 0;
}
.wiki .bottom {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Socialtext classes
-------------------------------------------------------------- */

.wiki {
    padding-top:1em;

    /* {bz: 1445}: Gecko needs this to show left border of collapsed tables. */
    padding-left:1px;
}
div#contentContainer h2.tableTitle {
    font-size:2em;
    font-weight:normal;
    letter-spacing:1px;
}
.wiki a.incipient,
.wiki .wafl_existence_error {
    border-bottom:1px #d82500 dashed;
    border-bottom:1px #25a800 dashed;
    color:#d82500;
    color:#25a800;
}
.wiki a.incipient:hover,
.wiki .wafl_existence_error:hover {
    color:#d82500;
    text-decoration:none;
    border-bottom:1px #d82500 solid;
}
.wiki .wafl_box,
.wiki .fetchrss_box {
    background:#fcf2e3;
    color:inherit;
    padding:0;
    margin-bottom:1em;
    border:none;
}
.wiki .wafl_titlebox,
.wiki .fetchrss_titlebox {
    background:#fae8ce;
    font-size:120%;
    padding:.5em 0 .5em 1em;
    margin-bottom:1em;
    border-bottom:1px #e7cdaa solid;
}
.wiki .wafl_titlebox a,
.wiki .fetchrss_titlebox a {
    font-weight:normal;
}
.wiki .wafl_items,
.wiki .fetchrss_items {
    padding:0 1em 1em 1em;
}
.wiki ul.item_list,
.wiki ul.fetchrss_items {
    list-style-type:none;
    margin-left:0;
}
.wiki ul.item_list li.item a,
.wiki ul.fetchrss_items li.fetchrss_item a {
    font-weight:inherit;
}
.wiki ul.item_list li.item p.snippet,
.wiki ul.fetchrss_items li.fetchrss_item p.fetchrss_description {
    margin-top:.25em ! important;
}
.wiki .wiki-include-page {
    margin:0 0 1em 0;
    padding:1em 0 1em 0;
    background: #fff url(../images/includeTile.png) repeat-y scroll top left;
    border:none;
}
.wiki .wiki-include-title {
    font-size:150%;
    margin-left:1.33em;
    margin-bottom:0.5em;
}
.wiki .wiki-include-title a {
    color:#33A8FF;
    font-weight:normal;
}
.wiki .wiki-include-title a.incipient {
    color:#fc6500;
}
.wiki .wiki-include-content {
    margin-left:2em;
}
.widget .widgetContent ul {
    margin:10px 9px 0 9px ! important;
}
.widget .widgetContent ul li {
    border-bottom:1px #e8e8e8 solid;
}
.widget .widgetContent td input.text {
    width: 140px;
}

/* People list classes
-------------------------------------------------------------- */

td.peoplelist-picture-td {       
        width: 70px;     
}    
     
td.peoplelist-desc-td {      
        width: 100%;
}

td.peoplelist-acct-td {
    line-height: normal !important;
    padding-right: 10px;
}

.form-users_invite a.saveButton, a.inviteButton {
	display: block;
	width: 59px;
	height: 22px;
	background: url(../images/inviteButton.png) no-repeat;
	background-position: top right;
	text-indent: -9999px;
}

.form-users_invite a.saveButton:hover, a.inviteButton:hover {
	background-position: top left;
}


.form-users_search a.saveButton {
        width: 29px;
        height: 24px;
        background: url(../images/searchButton.png) no-repeat top left;
        border: none;
        margin-left: 5px;
        vertical-align: top;
        text-indent: -9999px;
}

/* Profile overrides
-------------------------------------------------------------- */

.widgetTan {
    background-color:#fff ! important;
}

/* Login page */
.authentication div#contentContainer {
    padding-top: 10px;
}
body#loginPage form#st-login-form {
    line-height: 30px;
}

/* Workspace List (which also appears on Login page) */
body#workspaceListPage div#contentColumns, .authentication div#contentColumns {
    padding: 5px 0;
}
body#workspaceListPage div#contentColumns div#contentLeft, body#loginPage div#contentColumns div#contentLeft {
    width: 40%;
}
body#workspaceListPage div#contentColumns div#contentRight, body#loginPage div#contentColumns div#contentRight {
    width: 58%;
    float: left;
    padding-left: 10px;
    border-left: 2px dashed #dedede;
}
body#workspaceListPage div#controls, .authentication div#controls {
    height: 44px;
    background: url(../images/contentControlsTile.png) repeat-x top left;
}
body#workspaceListPage div#controls div#st-editing-tools-edit, .authentication div#controls div#st-editing-tools-edit {
    background: url(../images/contentControlsLeft.png) no-repeat top left;
    height: 44px;
    padding-left: 8px;
}
body#workspaceListPage div#controls div#controlsRight, .authentication div#controls div#controlsRight {
    background: url(../images/contentControlsRight.png) no-repeat top right;
    height: 44px;
}

/* Errors and Messages */
div#contentContainer div#errors-and-messages,
div#st-system-status {
    margin: 0 20px 5px 0;
    padding: 10px;
    background-color: #fbffbe;
    border: 1px solid #dedede;
    font-weight: bold;
    text-align: center;
}

/* Extraneous settings pages with odd markup
------------------------------------------------------------ */
form div.message {
    clear:both;
    margin:1em 0;
    background:#ffe;
}
div.workspace-entry-header {
    font-size:150%;
    font-weight:bold;
    margin:1em 0;
}
div.workspace-entry {
    margin:1em 0;
}
div.workspace-entry-p {
    margin:1em 0;
    line-height:1.2;
}
div.workspace-entry textarea {
    width:90%;
}
div.workspace-subentry {
    font-weight:bold;
    margin:1em 0;
}
div.settings-comment {
    margin:1em 0 1em 1em;
    color:#666;
}
div.users-invite-message {
    margin:1em 0;
    padding:1em;
    border:1px #ccc solid;
    background:#f8f8f8;
}
div.users-invite-message p {
    margin:1em 0;
    line-height:1.2;
}

/* Weblog Stylings
------------------------------------------------------------ */
div.st-weblog-entrynav {
    margin-top:1em;
    padding-bottom:1em;
    font-size:inherit;
    height:1em;
    border-bottom:1px #ccc solid;
}
span.st-weblog-previousentries {
    float:right;
}
span.st-weblog-previousentries:after {
    content:"  »";
}
span.st-weblog-nextentries {
    float:left;
}
span.st-weblog-nextentries:before {
    content:"«  ";
}

/* Widget styles */
.widgetHeaderButtons {
    text-align: right;
    float: right;
    width: 70px;
}

.widgetHeaderTitle {
    height: 28px;
    overflow: hidden;
    float: none;
}

.widgetHeaderTitle img {
    height: 23px;
}

.widgetHeaderTitleBox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widgetHeader {
    white-space: nowrap;
    overflow: hidden;
}

.widgetContent {
    text-align: left;
}

.widgetContent iframe {
    border: 0;
    margin: 0 2% !important;
    padding: 0 !important;
    width: 95%;
}

.widgetContent form table {
    margin: 0 5px;
}

div.widget {
    background-color:#fff ! important;
}

#page-control-category-selector {
    margin-top:-5px;
}

/* Micro-tweakage for {bz: 1443} */
table.pagelist {
    table-layout: fixed;
}

table.pagelist td {
    text-overflow: ellipsis;
    overflow: hidden;
}

table.pagelist.dataTable th div.selectall{
    float: left;
    padding-right: 10px;
    vertical-align: middle;
}

table.pagelist.dataTable th div.sort {
    float: right;
    margin-right: 8px;
    vertical-align: middle;
}

table.pagelist.dataTable th {
    padding-right: 0px;
    padding-left: 8px;
    vertical-align: middle;
}

table.widgetUserPrefs {
    width: 95%;
}

table.widgetUserPrefs tr.widgetUserPref_workspace th {
    width: 10%;
}

table.widgetUserPrefs tr.widgetUserPref_workspace select {
    width: 100%;
}

table.widgetUserPrefs td.widgetUserPrefsButtons {
    text-align: center;
    padding-top: 5px;
}

#st-tags-field {
    width: 70%;
}

#st-tags-listing a.tag_name {
    display: block;
    padding-top: 2px;
    float: left;
    max-width: 90%;
    clear: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.pagination-container {
    margin: 0 auto;
    width: 43em;
    font-weight: bold;
}

div.pagination-container .paging-back {
    min-width: 15em;
    text-align: right;
    float: left;
}
div.pagination-container .paging-numbers {
    min-width: 13em;
    text-align: center;
    float: left;
}
div.pagination-container .paging-forward {
    min-width: 15em;
    text-align: left;
    float: left;
}

#statistics-attribution {
    white-space: nowrap;
}


/* See {bz: 1597}. If we have initial hint text some day, it should be gray. */
body div#globalNav div input.searchText {
        color: black;
}

.collapsed {
    display: none;
}

#st-edit-mode-container #controlsRight {
    max-width: 64px !important;
}

.table-options {
    width: 100%;
}

.table-options td {
}

.table-options .options {
}

.row.options {
}

.column.options {
}

.row-col-label {
    vertical-align: middle !important;
    text-align: right;
    width: 50%;
}

.table-create input {
    padding-top: -5px;
}

.table-create .error, .table-options .error {
    display: block;
    color: #FF0000;
    margin-bottom: 0px;
}

.table-create, .table-options .buttons {
    margin-top: 5px;
}

.table-create .cancel {
    text-align: right;
}
.table-create .header {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 10px;
}

.col-number, .row-number {
    font-weight: bold;
    font-size: larger;
    text-align: right;
}

.row-col-label {
    font-weight: bold;
}

.row-col-label.two {
    padding-bottom: 5px;
}

#st-create-content-lightbox #choose-page-spreadsheet, #st-create-content-lightbox #create-options {
    width: 400px;
    padding-left: 64px;
}

#st-create-content-lightbox #choose-page-spreadsheet .choice {
    width: 200px;
    border-style: solid;
    float: left;
}

#st-create-content-lightbox #template-option {
    padding: 0px 0px 0px 8px;
    margin: 8px 0px 0px 24px;
    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 0px 8px;
    float: left;
}

/* fix some buttons with too large hotspots in ie6 start */

* html a.editButton, * html ul li a.commentButton, * html a.saveButton, 
* html ul li a.previewButton, * html a.cancelButton, * html ul li a.compareButton, * html ul li a.addContentButton {
	line-height: 22px;
}
/* fix some buttons with too large hotspots in ie6 end */

/* Capitalize all guess_real_name fields in People: {bz: 1784} */
.realName {
    text-transform: capitalize;
}

#wikiwyg_toolbar {
    float: left;
}

.other_buttons, 
.table_buttons {
    float: left;
}
.table_buttons.disabled {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

.st-page-editing-group {
    float: left;
}

