@import url('ieStyles.css');

div#buttomButtons div#pageAttribution {
    margin: 5px 5px 0 190px;
    padding: 5px;
}

html body#contentPage div#controls div#controlsRight,
html body#dashBoard div#controls div#controlsRight,
html body#settingsPage div#controls div#controlsRight {
    width: 260px !important;
}
