[%# @COPYRIGHT@ -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>[% workspace_title %] : [%- title | html %]</title>
        <link rel="stylesheet" href="[% skin_uri('s2') %]/css/miki.css" type="text/css" />
    </head>
    <body>
        [%- SET header_links = [] %]
        [%- header_links.push(home_link)     IF home_link %]
        [%- header_links.push(rc_link)       IF rc_link %]
        [%- header_links.push(search_link)   IF search_link %]
        [%- header_links.push(edit_link)     IF edit_link %]
        [%- header_links.join( ' | ' ) %]
        [% IF cancel_edit %]
            | <a href="/lite/page/[% workspace_name %]/[% cancel_edit %]">[% loc('Cancel Edit') %]</a>
        [% END %]
        <hr/>
