body {
    behavior: url(/static/javascript/csshover.htc);
}

* html #st-attachments-attach-attachinterface-overlay {
    filter: alpha(opacity=70);
}

* html .popup-overlay {
    filter: alpha(opacity=70);
}


body.st-popup {
    behavior: url(/static/javascript/csshover.htc);
}

#st-refcard {
    behavior: url(/static/javascript/csshover.htc);
}


.email-page-user-select-column {
    float: left;
    padding-right: 1.0em;
    width: 11em;
}

#st-popup-emailpage-userselect-columncenter {
    width: 8em;
}


