#st-listview-tabs ul {
  display: block;
  list-style: none outside;
  margin: 0 0 0 4em;
  padding: 0;
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 80%;
}

div#st-pagetools li {
    position: relative;
    list-style: none;
    margin: 0;
    float: left;
    width: 6em;
    line-height: 11px;
}

div#st-pagetools ul.level2 {
    top: 1.0em;
    left: -13.0em;
}

div#st-pagetools ul ul li {
    line-height: 1.5em;
    width: 20em;
}

div#st-listtools li {
    position: relative;
    list-style: none;
    margin: 0;
    float: left;
    width: 6.5em;
}

div#st-listtools ul ul li {
    line-height: 1.5em;
    width: 11.2em;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}
