body {
    behavior: url(/static/javascript/csshover.htc);
}

* html #st-attachments-attach-attachinterface-overlay {
    filter: alpha(opacity=70);
}

* html .popup-overlay {
    filter: alpha(opacity=70);
}


body.st-popup {
    behavior: url(/static/javascript/csshover.htc);
}

#st-refcard {
    behavior: url(/static/javascript/csshover.htc);
}
