.wikiwyg_toolbar {
    background: #fff;
    border: none;
    letter-spacing: 0;
    padding:0;
    margin: 5px 0;
}

span.wikiwyg_control_link a {
    padding-right: 8px;
}

.wikiwyg_button {
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_button:hover {
    border: 1px outset;
}

.wikiwyg_button:active {
    border: 1px inset;
}

.wikiwyg_button_disabled {
    background: #fff;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    opacity: 0.5;
}

.wikiwyg_button_disabled:hover {
    border: 1px solid #fff;
}

.wikiwyg_separator {
    background: #fff;
    border: 1px solid #fff;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
}

.wikiwyg_selector {
    width: 70px;
}

.wikiwyg_wysiwyg table {
    border-collapse: collapse;
    margin-bottom: .2em;
}

.wikiwyg_wysiwyg table td {
    border: 1px;
    border-style: solid;
    padding: .2em;
    vertical-align: top;
}
