[%# @COPYRIGHT@ -%]
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>[% workspace_title %] : [%- title | html %]</title>
    </head>
    <body>
        [%- home_link %] | [%- rc_link %] | [%- search_link %]
        [% IF edit_link %]
            | [%- edit_link %]
        [% END %]
        [% IF cancel_edit %]
            | <a href="/lite/page/[% workspace_name %]/[% cancel_edit %]">[% loc('Cancel Edit') %]</a>
        [% END %]
        <hr/>
