<!-- @COPYRIGHT@ -->
<h3>Socialtext password help</h3>

% if (Socialtext::AppConfig->is_default('user_factories')) {
<p>
No problem, we can send you an email that will help. You will be
able to change your password back to something you know.
</p>

<p>
Enter your email address below. Enter the email address you normally
use for your Socialtext account. If you got here by clicking a link
you received in an email message, look at that message, and use the
email address it was sent to
</p>

<&| /lib/fill_in_form.mas &>
<form method="post" action="/nlw/submit/forgot_password">
 <input type="hidden" name="redirect_to" value="<% $redirect_to | h %>" />
 <div class="label-value">
  <label for="username">Email Address:</label>
  <input id="username" name="username" type="text" size="30" value="" />
 </div>

 <div class="form-element">
  <input class="button" type="submit" value="Submit" />
 </div>
</form>
</&>

<p>
The email we will send you will come from
<strong>noreply@socialtext.com</strong>. To ensure you receive it,
please add <strong>noreply@socialtext.com</strong> to your address
book or safe list.
</p>
% } else {
<p>
Since your password is stored in the directory for your organization, there is no way to reset your password within the Socialtext system.  Please contact your directory administrator for assistance.
</p>
% }
<p>
Back to <a href="<% uri( path  => '/nlw/login.html',
                         query => { redirect_to => $redirect_to } ) %>">Log in to Socialtext</a>.
</p>

<%args>
$redirect_to => ''
</%args>

<%init>
$App->css->push('form.css');
</%init>

<%method title>Forgot Password</%method>
