<!-- @COPYRIGHT@ -->
<h3>Log in to Socialtext</h3>

<script type="text/javascript">
push_onload_function(function() {
    document.forms[0].email_address.focus();
})
</script>

<p>
<a href="<% uri( path  => '/nlw/login.html',
                 query => { redirect_to => $redirect_to } ) %>">Log in with an existing account</a>.
</p>

<&| /lib/fill_in_form.mas &>
<form method="post" action="/nlw/submit/register">
 <input type="hidden" name="redirect_to" value="<% $redirect_to | h %>" />
 <div class="label-value">
  <label for="email_address">Email Address:</label>
  <input id="email_address" name="email_address" type="text" size="30" value="" />
 </div>

 <div class="label-value">
  <label for="password">Password:</label>
  <input id="password" name="password" type="password" size="30" value="" />
 </div>

 <div class="label-value">
  <label for="password2">Re-type Password:</label>
  <input id="password2" name="password2" type="password" size="30" value="" />
 </div>

 <div class="label-value">
  <label for="first_name">First Name:</label>
  <input id="first_name" name="first_name" type="text" size="30" value="" /> (Optional)
 </div>

 <div class="label-value">
  <label for="last_name">Last Name:</label>
  <input id="last_name" name="last_name" type="text" size="30" value="" /> (Optional)
 </div>

 <div class="form-element">
  <input class="button" type="submit" value="Register" />
 </div>
</form>
</&>

<%args>
$redirect_to => ''
</%args>

<%init>
$App->css->push('form.css');
</%init>

<%method title>Register</%method>

