[%# @COPYRIGHT@ -%]
[%
  PROCESS css_link css = hub.css.uri_for_css('screen.css'), media = 'screen';
  PROCESS css_link css = hub.css.uri_for_css('popup.css'), media = 'screen';
  IF hub.action == 'display_html';
    PROCESS css_link css = hub.css.uri_for_css('print.css'), media = 'print';
    PROCESS css_link css = hub.css.uri_for_css('print.ie'), media = 'print';
    PROCESS css_link css = hub.css.uri_for_css('print_preview.css'), media = 'screen';
  END;
  PROCESS css_link css = hub.css.uri_for_css('wikiwyg_editor.css'), media = 'wikiwyg';
%]

[% BLOCK css_link %]
  [% RETURN UNLESS css %]
  <link rel="stylesheet" type="text/css" href="[% css %]" media="[% media %]" />
[% END %]

