[%# @COPYRIGHT@ -%]
[%
  IF error;
    PROCESS google_soap_error error = error;
  ELSE;
    PROCESS google_soap_box query = query, google_result = google_result;
  END;
%]

[% BLOCK google_soap_error %]
  <span class="error-text">[% error %]</span>
[% END %]

[% BLOCK google_soap_box %]
  <div class="googlesoap_box">
    <div class="googlesoap_titlebox">
      <div class="googlesoap_title">
        <a href="http://www.google.com/search?q=[% query %]">Search for &quot;[% query %]&quot;</a>
      </div>
    </div>

    <ul class="googlesoap_results">
      [% FOREACH google_result = google_elements %]
        <li class="googlesoap_result">
          <a href='[% google_result.URL %]' title='[% google_result.title %]'>[% google_result.title %]</a>
          <p class="googlesoap_snippet">[% google_result.snippet %]</p>
        </li>
      [% END %]
    </ul>
  </div>
[% END %]
