[%# @COPYRIGHT@ -%]
[% PROCESS inlined_javascript.html %]
  <script type="text/javascript" src="[% static_path %]/javascript/combined-source.js.gz"></script>
  <script type="text/javascript" src="[% static_path %]/javascript/Browser.js"></script>
  <script type="text/javascript" src="[% static_path %]/javascript/main.js"></script>
  <script type="text/javascript" src="[% static_path %]/javascript/GuiEdit.js"></script>
  <script type="text/javascript" src="[% static_path %]/javascript/comment_popup.js"></script>
  <script type="text/javascript" src="[% static_path %]/javascript/email_page.js"></script>
