/* Wafl Boxes */

#st-page-content .wafl_container td {
    border: none;
    font-size: 1em;
}

.wafl_box {
    background: #F4F4F4 none repeat scroll 0%;
    border: 1px solid #AAAAAA;
    color: #000000;
    padding: 10px;
}

.wafl_box .wiki {
    margin: 0px;
    border: none;
}

.wafl_title {
    font-weight: bold;
    color: #000000;
    text-align: center;
    font-size: 1em;
}

.wafl_box ul {
    list-style-type: disc;
    padding-right: 10px;
}

/* Include page styles */

.wiki-include-edit-link {
    font-size: 10px;
    font-weight: normal;
}

.wiki-include-page {
    border-left: 1px solid #80a9f3;
    padding-left: 5px;
    padding-right: 10px;
    margin-left: 12px;
}

.wiki-include-title {
    font-size: 19px;
    font-weight: bold;
    margin-left: 6px;
    background: none;
}

.wiki-include-title a {
    text-decoration: none;
    color: blue;
}

.wiki-include-title a:hover {
    text-decoration: underline;
}

div.wiki-include-content {
    margin-left: 6px;
}

/* Footer */

#st-socialtext-attribution {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#st-socialtext-attribution img {
    border: none;
}

#st-footer {
    clear: both;
    margin-top: -7px;
    font-size: 0.7em;
    font-family: Georgia, serif;
    font-style: italic;
}

#st-edit-actions-below-fold {
    position: relative;
    float: left;
    padding-left: 20px;
    margin-top: 4px;
    width: 80px;
}

#st-page-details {
    text-align: center;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 4px;
}

html>body #st-page-details {
    margin-left: 20px;
    margin-right: 20px;
}

.st-page-details-feed-icon {
    border: none;
}

#st-footer-actions {
    position: relative;
    float: right;
    text-align: right;
    width: 50px;
    padding-right: 20px;
    margin-top: 4px;
}

/* Wikiwyg */
#wysiwyg-editable-div div.wiki {
    margin:0; padding:0;
}

#wysiwyg-editable-div ol,
#wysiwyg-editable-div ul,
#wysiwyg-editable-div p {
  margin-top:0;
  margin-bottom:0;
}

